<!-- Validation failure messages -->
<% if @target_person.errors.any? %>
  <% @target_person.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Target Person #<%= @target_person.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_target_person/<%= @target_person.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for person_id -->
      <div class="form-group">
        <label for="person_id" class="control-label">
          Person
        </label>

        <input type="text" id="person_id" name="person_id" placeholder="Person" class="form-control" value="<%= @target_person.person_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @target_person.user_id %>">
      </div>

      <!-- Label and input for belief_id -->
      <div class="form-group">
        <label for="belief_id" class="control-label">
          Belief
        </label>

        <input type="text" id="belief_id" name="belief_id" placeholder="Belief" class="form-control" value="<%= @target_person.belief_id %>">
      </div>

      <!-- Label and input for priority_order -->
      <div class="form-group">
        <label for="priority_order" class="control-label">
          Priority order
        </label>

        <input type="text" id="priority_order" name="priority_order" placeholder="Priority order" class="form-control" value="<%= @target_person.priority_order %>">
      </div>

      <!-- Label and input for rationale -->
      <div class="form-group">
        <label for="rationale" class="control-label">
          Rationale
        </label>

        <textarea id="rationale" name="rationale" placeholder="Rationale" class="form-control" rows="3"><%= @target_person.rationale %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Target Person
      </button>
      or
      <a href="/target_people/<%= @target_person.id %>">Cancel</a>
    </form>
  </div>
</div>
