<div class="page-header">
  <h3>Contact Task #<%= @contact_task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Belief</dt>
      <dd><%= @contact_task.belief_id %></dd>

      <dt>User</dt>
      <dd><%= @contact_task.user_id %></dd>

      <dt>Target people</dt>
      <dd><%= @contact_task.target_people_id %></dd>

      <dt>Scheduled datetime</dt>
      <dd><%= @contact_task.scheduled_datetime %></dd>

      <dt>Completion datetime</dt>
      <dd><%= @contact_task.completion_datetime %></dd>

      <dt>Body</dt>
      <dd><%= @contact_task.body %></dd>

      <dt>Complete</dt>
      <dd><%= @contact_task.complete %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contact_tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/contact_tasks/<%= @contact_task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_contact_task/<%= @contact_task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
