<!-- Validation failure messages -->
<% if @target_organization.errors.any? %>
  <% @target_organization.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Make Changes to | <%= @target_organization.org_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_target_organization/<%= @target_organization.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <!--<label for="user_id" class="control-label">-->
        <!--  User-->
        <!--</label>-->

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @target_organization.user_id %>">
      </div>

      <!-- Label and input for org_id -->
      <div class="form-group">
        <!--<label for="org_id" class="control-label">-->
        <!--  Org-->
        <!--</label>-->

        <input type="hidden" id="org_id" name="org_id" placeholder="Org" class="form-control" value="<%= @target_organization.id %>">
      </div>
      
      <!-- Label and input for lessons -->
      <div class="form-group">
        <label for="lessons" class="control-label">
          Summary of Lessons
        </label>

        <textarea type="text" id="lessons" name="lessons" placeholder="What have you learned about <%= @target_organization.org_name %>?" class="form-control" value="<%= @target_organization.lessons %>" rows="5"></textarea>
      </div>
      
      <!-- Label and input for org_url -->
      <div class="form-group">
        <label for="org_url" class="control-label">
          Website
        </label>

        <input type="text" id="org_url" name="org_url" placeholder="a cool website" class="form-control" value="<%= @target_organization.org_url %>">
      </div>
      
      <!-- Label and input for priority_order -->
      <div class="form-group">
        <label for="position" class="control-label">
          ?POSITION
        </label>

        <input type="text" id="position" name="position" placeholder="Priority" class="form-control" value="<%= @target_organization.position %>">
      </div>

      <button class="btn btn-warning">
        Update Target Organization
      </button>
      or
      <a href="/target_organizations/<%= @target_organization.id %>">Cancel</a>
    </form>
  </div>
</div>
