<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-10 col-lg-offset-1">-->

      <div class="page-header">
        <h3>Target Organization |  <%= @target_organization.org_name %></h3>
      </div>
      
      <div class="row">
        <div class="col-md-12 mb-2">
          <dl class="dl-horizontal">
            <!--<dt>User</dt>-->
            <!--<dd><= @target_organization.user_id %></dd>-->
      
            <!--<dt>Organization Name</dt> ## dont' need this to show b/c name is above in h3-->
            <!--<dd><= @target_organization.org_name %></dd>-->
            
            <dt>Where to find them</dt>
            <dd><%= @target_organization.org_url %></dd>
      
            <dt>Organization Priority Order</dt>
            <dd><%= @target_organization.position %></dd>
      
          </dl>
      
          <div class="btn-group btn-group-justified">
            <a href="/target_organizations" class="btn btn-primary">
              Back
            </a>
            <a href="/target_organizations/<%= @target_organization.id %>/edit" class="btn btn-warning">
              Edit
            </a>
            <a href="/delete_target_organization/<%= @target_organization.id %>" class="btn btn-danger" rel="nofollow">
              Delete
            </a>
          </div>
          
          <!--<h1>-->
          <!--Add Beliefs-->
          <!--<a href="/beliefs/new" class="btn btn-lg btn-success">Add a Belief</a>-->
          <!--</h1>-->
          
        </div>
      </div>
    
    
<!--Here's the start of ADDing a Belief to a Target Org-->
    <h3>
        Current Beliefs for <%= @target_organization.org_name %>
    </h3>
    <ul>
      <% @target_organization.beliefs.each do |belief| %>
      <li><a href="/beliefs/<%= belief.id%>"><%= belief.body%></a></li>
      <% end%>
    </ul>


    <h3>
      Add a New Belief for <%= @target_organization.org_name %>
    </h3>
<div class="row">
  <div class="col-md-12">
    <form action="/create_belief" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<!-- Label and input for user_id -->
            <div class="form-group">
              <!--<label for="user_id" class="control-label">-->
              <!--  User id-->
              <!--</label>-->
      
              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
            </div>
      
            <!-- Label and input for org_id -->
            <div class="form-group">
              <!--<label for="target_organization_id" class="control-label">-->
              <!--  Org-->
              <!--</label>-->
      
              <input type="hidden" id="target_organization_id" name="target_organization_id" placeholder="Org" class="form-control" value="<%= @target_organization.id %>">
            </div>
      
            <!-- Label and input for body -->
            <div class="form-group">
              <label for="body" class="control-label">
                Beliefs (1 belief at a time)
              </label>
      
              <textarea id="body" name="body" placeholder="You believe that <%= @target_organization.org_name %> values..." class="form-control" rows="3"></textarea>
            </div>
      
            <!-- Label and input for priority_order -->
            <div class="form-group">
              <label for="priority_order" class="control-label">
                How important is this belief to your getting hired? (higher is more important)
              </label>
      
              <input type="text" id="priority_order" name="priority_order" placeholder="Priority order" class="form-control" value="0">
              <!--<input type="text" id="priority_order" name="priority_order" placeholder="Priority order" class="form-control" value="<= @beliefs_created_at %>">-->

            </div>
      
            <!-- Label and input for confirmed_status -->
            <!--<div class="checkbox">-->
            <!--  <label for="confirmed_status">-->
            <!--    <input type="checkbox" id="confirmed_status" name="confirmed_status" value="1" <= "checked" if @target_organization.beliefs.confirmed_status %>>-->
            <!--    Confirmed status-->
                <!--not sure if @target_organization is correct or if it should start with @beliefs, but realized I only need this confirm on the Beliefs SHOW.-->
            <!--  </label>-->
            <!--</div>-->
      
            <button class="btn btn-success">
              Create Belief
            </button>
            or
            <a href="/beliefs">Cancel</a>
          </form>






      
        </div>
      </div> <!--end of row 2-->
<!--    </div>-->
<!--  </div> <!--end of top row-->-->
<!--</div>-->