<div class="page-header">
  <h3>Target Organization #<%= @target_organization.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @target_organization.user_id %></dd>

      <dt>Org</dt>
      <dd><%= @target_organization.org_id %></dd>

      <dt>Priority order</dt>
      <dd><%= @target_organization.priority_order %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/target_organizations" class="btn btn-primary">
        Back
      </a>
      <a href="/target_organizations/<%= @target_organization.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_target_organization/<%= @target_organization.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
