<!-- Validation failure messages -->
<% if @belief.errors.any? %>
  <% @belief.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit this Belief</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_belief/<%= @belief.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <!--<label for="user_id" class="control-label">-->
        <!--  User-->
        <!--</label>-->

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @belief.user_id %>">
      </div>

      <!-- Label and input for org_id -->
      <div class="form-group">
        <label for="target_organization_id" class="control-label">
          Organization
        </label>

        <!--<input type="text" id="target_organization_id" name="target_organization_id" placeholder="Org" class="form-control" value="<= @belief.target_organization_id %>">-->
        <!--<input type="text" id="director_id" name="director_id" placeholder="Director" class="form-control" value="<= @movie.director_id %>">-->
        <!--<= select_tag(:name, options_from_collection_for_select(Array to loop across.all, :id, :name, @movie.director_id), :class =>"form-control") %>-->

        <%= select_tag(:target_organization_id, options_from_collection_for_select(TargetOrganization.all, :id, :org_name, @belief.target_organization_id), :class =>"form-control") %>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          You believe that <%= @belief.target_organization.org_name %> values...
          <!--You believe that <= @beliefs.target_organization.org_name %>-->

        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @belief.body %></textarea>
      </div>

      <!-- Label and input for LESSONS -->
      <div class="form-group">
        <label for="lessons" class="control-label">
          You learned that <%= @belief.target_organization.org_name %> values...
          <!--You believe that <= @beliefs.target_organization.org_name %>-->

        </label>

        <textarea id="lessons" name="lessons" placeholder="Lessons" class="form-control" rows="3"><%= @belief.lessons %></textarea>
      </div>

      <!-- Label and input for priority_order -->
      <div class="form-group">
        <label for="priority_order" class="control-label">
          Priority order
        </label>

        <input type="text" id="priority_order" name="priority_order" placeholder="Priority order" class="form-control" value="<%= @belief.priority_order %>">
      </div>

      <!-- Label and input for confirmed_status -->
      <div class="checkbox">
        <label for="confirmed_status">
          <input type="checkbox" id="confirmed_status" name="confirmed_status" value="1" <%= "checked" if @belief.confirmed_status %>>
          Completed?
        </label>
      </div>

      <button class="btn btn-warning">
        Update Belief
      </button>
      or
      <a href="/beliefs/<%= @belief.id %>">Cancel</a>
    </form>
  </div>
</div>
