<!-- Validation failure messages -->
<% if @belief.errors.any? %>
  <% @belief.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Belief #<%= @belief.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_belief/<%= @belief.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @belief.user_id %>">
      </div>

      <!-- Label and input for org_id -->
      <div class="form-group">
        <label for="org_id" class="control-label">
          Org
        </label>

        <input type="text" id="org_id" name="org_id" placeholder="Org" class="form-control" value="<%= @belief.org_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @belief.body %></textarea>
      </div>

      <!-- Label and input for priority_order -->
      <div class="form-group">
        <label for="priority_order" class="control-label">
          Priority order
        </label>

        <input type="text" id="priority_order" name="priority_order" placeholder="Priority order" class="form-control" value="<%= @belief.priority_order %>">
      </div>

      <!-- Label and input for confirmed_status -->
      <div class="checkbox">
        <label for="confirmed_status">
          <input type="checkbox" id="confirmed_status" name="confirmed_status" value="1" <%= "checked" if @belief.confirmed_status %>>
          Confirmed status
        </label>
      </div>

      <button class="btn btn-warning">
        Update Belief
      </button>
      or
      <a href="/beliefs/<%= @belief.id %>">Cancel</a>
    </form>
  </div>
</div>
