<!-- Validation failure messages -->
<% if @belief.errors.any? %>
  <% @belief.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h3>With BLAH_ORG in mind, what do you think they believe is true?</h3>
        <!--<h3>With BLAH <= @belief.target_organization.org_name %> in mind, what do you think they believe is true?</h3>-->

      </div>
      
      <div class="row">
        <div class="col-md-12">
          <form action="/create_belief" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      
            <!-- Label and input for user_id -->
            <div class="form-group">
              <label for="user_id" class="control-label">
                User
              </label>
      
              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
            </div>
      
            <!-- Label and input for org_id -->
            <div class="form-group">
              <label for="target_organization_id" class="control-label">
                Org
              </label>
              <%= select_tag(:target_organization_id, options_from_collection_for_select(TargetOrganization.all, :id, :org_name, @belief.target_organization_id), :class =>"form-control") %>

              <!--<input type="text" id="target_organization_id" name="target_organization_id" placeholder="Org" class="form-control" value="<= @belief.target_organization_id %>">-->
            </div>
      
            <!-- Label and input for body -->
            <div class="form-group">
              <label for="body" class="control-label">
                Body
              </label>
      
              <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @belief.body %></textarea>
            </div>
      
            <!-- Label and input for priority_order -->
            <div class="form-group">
              <label for="priority_order" class="control-label">
                Priority order
              </label>
      
              <input type="text" id="priority_order" name="priority_order" placeholder="Priority order" class="form-control" value="<%= @belief.priority_order %>">
            </div>
      
            <!-- Label and input for confirmed_status -->
            <!--<div class="checkbox">-->
            <!--  <label for="confirmed_status">-->
            <!--    <input type="checkbox" id="confirmed_status" name="confirmed_status" value="1" <= "checked" if @belief.confirmed_status %>>-->
            <!--    Confirmed status-->
            <!--  </label>-->
            <!--</div>-->
      
            <button class="btn btn-success">
              Create Belief
            </button>
            or
            <a href="/beliefs">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>