<div class="page-header">
  <h3>Your Belief for <%=@belief.target_organization.org_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <!--<dt>User</dt>-->
      <!--<dd><= @belief.user_id %></dd>-->

      <!--<dt>Org</dt>-->
      <!--<dd><= @belief.target_organization.org_name %></dd>-->

      <dt>Belief</dt>
      <dd><%= @belief.body %></dd>
      
      <dt>Lessons</dt>
      <dd><%= @belief.lessons %></dd>

      <dt>Priority order</dt>
      <dd><%= @belief.priority_order %></dd>

      <dt>Confirmed status</dt>
      <dd><%= @belief.confirmed_status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beliefs" class="btn btn-primary">
        Back
      </a>
      <a href="/beliefs/<%= @belief.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_belief/<%= @belief.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
